# ---- Node & npm ----
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ---- Environment & Secrets ----
.env
.env.*
serviceAccountKey.json

# ---- Logs ----
logs/
*.log

# ---- Build output ----
dist/
build/
coverage/
uploads/

# ---- OS / Editor junk ----
.DS_Store
Thumbs.db
ehthumbs.db
.idea/
.vscode/

# ---- Others ----
*.swp
